In [2]:
# 1. Create a tuple with numbers from 1 to 10. Print the tuple.
nums=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(nums)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [10]:
# 2. Create a tuple with a single element. Verify it is a tuple.
ele = (1,)
print(type(ele)) #without comma python will treat as a value inside paranthesis

<class 'tuple'>

In [14]:
# 3. Access the first and last elements of a given tuple.
nums=(1, 2, 5, 7 )
print("Firt element:",  nums[0])
print("Last element: ", nums[-1])

Firt element: 1
Last element:  7

In [18]:
# 4. Check if an element exists within a tuple.
my_tup=("Banana", 2,  "Apple", "Orange")
if "Banana" in my_tup:
    print("Yes the elemtnt eists")
else:
    print("no it doesn't")

no it doesn't

In [20]:
# 5. Concatenate two tuples and print the result.
tup_one=(1, 2, 3, 4, 5, 6, 7)
tup_two=("Banana", "Apple", True)
con_tup=tup_one+tup_two
print(con_tup)

(1, 2, 3, 4, 5, 6, 7, 'Banana', 'Apple', True)

In [21]:
# 6. Find the length of a tuple.
my_tup=(1, 3, 4, "Banana")
print( len(my_tup))

4

In [24]:
# 7. Convert a list to a tuple.
lst=["Apple", 2, 3, 4, True]
print(type(lst))
my_tup=tuple(lst)
print(my_tup)
print(type(my_tup))

<class 'list'>
('Apple', 2, 3, 4, True)
<class 'tuple'>

In [27]:
# 8. Create a tuple from user inputs and print it.
data=input("Enter elemets by spaces: ")
my_tup=tuple(data.split())
print(my_tup)

('banana', '1', '2', '3', 'True')

In [29]:
# 9. Find the maximum and minimum values in a tuple of numbers.
my_tup=(1, 2, 3, 4, 7, 99, 0)
max_num=max(my_tup)
min_num=min(my_tup)
print("maximum no is: ", max_num)
print("Minimun no is:", min_num)

maximum no is:  99
Minimun no is: 0

In [36]:
# 10. Count the occurrences of an element in a tuple.
my_tup=(1, 2, 33, 4, 5, 9, 88, 33)
ele=int(input("Enter the element you want to find the occurrence of "))
count=0
for i in my_tup:
    if i ==ele:
     count+=1
    
print(count)

2

In [42]:
# 11. Find the index of a specific element in a tuple.
my_tuple=(1, 2, 3, 4, 5, 8)
ele=input("Enter the element  to find the index: ")
if ele.isdigit():
    ele=int(ele)
if ele in my_tup:
    indx=my_tup.index(ele)
    print(f"{ele} found at index {indx}")
else:
    print("Element not found")

Element not found

In [43]:
# 12. Print all elements of a tuple using a loop.
my_tup=(1, 3, 4, "Banana", 7)
for i in my_tup:
    print(i)

1
3
4
Banana
7

In [ ]:
# 13. Unpack a tuple into individual variables and print them.
my_tup=("Banana", "Apple", "Orange")
(kela, seb, santara)=my_tup
print(kela)
print(seb)
print(santara)  #and there is also one more method *rest=my_tup used to print remaning together

Banana
Apple
Orange

In [ ]:
# 14. Convert a tuple of strings into a single concatenated string.
my_tup=("Orange", "Person", "Element", "Hii")
result=" ".join(my_tup)
print(result)

OrangePersonElementHii

In [ ]:
# 15. Reverse a tuple and print it.
my_tup=(1, 3, 4, "Banana", "Orange")
rev_tup= my_tup[::-1] #also by using rev_tup=tuple(reversed(my_tup))
print(rev_tup)

('Orange', 'Banana', 4, 3, 1)

In [ ]:
# 16. Check if two tuples are equal.
#Hard Code
# tup1=(1, 2, 3, 4, 5, 56)
# tup2=(1, 2, 3, 4, 5, 56)
   #using if-else:
# if tup1==tup2: 
#     print("Equal")
# else:
#     print("Not Equal")
 #using ==
# print(tup1==tup2)
data1=input("Enter the values of first tuple (space for seperation)")
tup1=tuple(data1.split())
data2=input("Enter the values of second tuple (space for seperation)")
tup2=tuple(data2.split())
if(tup1 == tup2):
    print("Yes they are equal")
else:
    print("Tuples are not equal")

Yes they are equal

In [60]:
# 17. Find the sum of all elements in a tuple.
my_tup=(1, 2, 34, 8, 99)
print(sum(my_tup))

144

In [62]:
# 18. Convert a tuple into a list, modify an element, and convert it back.
my_tup=(1, 2, 4, 5, 77)
lst=list(my_tup)
lst[0]="Banana"
my_tup=tuple(lst)
print(my_tup)

('Banana', 2, 4, 5, 77)

In [ ]:
# 19. Create a tuple with mixed data types and print each element.
my_tup=(1, 3, 4, "Banana", 29, True, [1, 2, 4]) #tuple can contain any python object
for i in my_tup:
    print(i, type(  i))

1 <class 'int'>
3 <class 'int'>
4 <class 'int'>
Banana <class 'str'>
29 <class 'int'>
True <class 'bool'>
[1, 2, 4] <class 'list'>

In [67]:
# 20. Create a tuple with duplicate elements. Remove duplicates and print the result.
my_tup=(1, 2, 3, 3, 4, 5, 3, 5, 9) #use fromkeys to maintain the order
unique=tuple(set(my_tup))
print(unique)

(1, 2, 3, 4, 5, 9)

In [72]:
# 21. Create a tuple with the first 10 multiples of 5.
my_tup=tuple((5*x for x in range(1, 11)))
print(my_tup)

(5, 10, 15, 20, 25, 30, 35, 40, 45, 50)

In [ ]:
# 22. Swap the first and last elements of a tuple.
my_tup=(1, 3, 3,4 , 5, 9, 99, 0)
swapped=(my_tup[-1], )+my_tup[1: -1]+my_tup[1:-1]+ (my_tup[0],) #UNDERDTAND THE LOGIC 
print(swapped)

(0, 3, 3, 4, 5, 9, 99, 3, 3, 4, 5, 9, 99, 1)

In [84]:
# 23. Check if two tuples have any common elements.
tup1=(1, 2, 3, 4, 5, 7)
tup2=(9, 8, 6,3)#Even a single element should not be same for not being coommon
if set(tup1) & set(tup2):
    print("Yes They have comman elements")
else:
    print("no they don't have ")

Yes They have comman elements

In [86]:
# 24. Find the product of all elements in a tuple.
my_tup=(1, 3, 4, 5)
product=1
for i in my_tup:
    product *= i
print(product)

60

In [89]:
# 25. Slice a tuple to extract specific elements.
my_tup=(2, 4, 5, 9, 9,22,0)
print(my_tup[0:])
print(my_tup[1:])
print(my_tup[0:4])
print(my_tup[:3])

(2, 4, 5, 9, 9, 22, 0)
(4, 5, 9, 9, 22, 0)
(2, 4, 5, 9)
(2, 4, 5)